<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
    <h1> May Node and Express be with you. </h1>
    <!--Form-->
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name"/>
        <input type="text" placeholder="quote" name="quote"/>
        <button type="submit">Submit</button>
    </form>
    <!--List of quotes-->
    <h2>Quotes</h2>
    <ul class="quotes">
        <% for (let index = 0; index < quotes.length; index++) {%>
            <li class="quote">
                <span><%= quotes[index].name %>:</span>    
                <span><%= quotes[index].quote %></span>
            </li>            
        <%} %>
    </ul>
    <!--Replace quotes-->
    <div>
        <h2>Execute Order 66</h2>
        <p>
            Replace first Yoda quote with a Darth Vader quote.
        </p>
        <button id="update-button">DO IT</button>
    </div>
    <!--Delete quotes-->
    <div>
        <h2>Stop Anakin please</h2>
        <p>
            Delete one of his quotes please.
        </p>
        <button id="delete-button">BYE ANI</button>
        <div id="message"></div>
    </div>
    <!--Scripts-->
    <script src="/main.js"></script>
</body>
</html>